<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="styledButton">
      <ion-label>Home</ion-label>
      <ion-icon src="../assets/icon/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="styledButton">
      <ion-label>Search</ion-label>
      <ion-icon src="../assets/icon/search.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="styledButton">
      <ion-label>Collection</ion-label>
      <ion-icon src="../assets/icon/file-tray-full.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="styledButton">
      <ion-label>Wishlist</ion-label>
      <ion-icon src="../assets/icon/heart.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="styledButton">
      <ion-label>Profile</ion-label>
      <ion-icon src="../assets/icon/person-circle.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
