<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="centerContent">

<ion-card>
  
  <ion-card-header>
    <img class= "imgResize" src="../assets/images/MarvelComicsLogo.jpeg">
    <br>
    <br>
    <ion-card-title class="titleName">Marvel Comics</ion-card-title>
    <ion-card-subtitle class="stats">14 New Comics This Week</ion-card-subtitle>
    <ion-card-subtitle class="stats">1 New Graphic Novel This Week</ion-card-subtitle>
    <br>
    <ion-button expand="block" color="warning">
      <ion-icon slot="end" src="../assets/icon/notifications.svg"></ion-icon>
      Notifications Enabled
    </ion-button>
  </ion-card-header>

</ion-card>

<hr>

<h1 class="typeName">New Comic Books</h1>


<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/8/03/62753513549bc/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Strange Academy Issue #18</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/6/f0/62b9e08a853e8/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Black Panther Issue #7</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/9/e0/62b9e08d6cd48/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Avengers Forever Issue #7</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/3/50/62b9e06d08622/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">King Conan Issue #6</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/9/10/62b9e04e8b1b2/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">X-Cellent Issue #5</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/6/50/62b9e06b0d907/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Sabretooth Issue #5</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/5/e0/62b9e227d230a/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">The Amazing Spider-Man Issue #5</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/9/30/62b9e06b0f8d0/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>     
      <ion-subtitle class="itemName">What If...? Miles Morales Issue #5</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/6/b0/62b9e08196b4d/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Ghost Rider Issue #4</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/5/e0/62b9e06b100f6/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Star Wars: The Halcyon Legacy Issue #4</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/3/90/62b9e089381a2/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Carnage Issue #4</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/9/80/62b9e06d229ce/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Legion of X Issue #3</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/4/20/62b9e08d38198/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Captain America: Sentinel of Liberty Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/3/30/62b9e0725e403/portrait_uncanny.jpg">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Jane Foster & the Mighty Thor Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>


<hr>

<h1 class="typeName">New Graphic Novels</h1>


<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-8909278.jpg?1651371288">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>     
      <ion-subtitle class="itemName">Mighty Marvel Masterworks Amazing Spider-Man Vol. 3</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>

<hr>
<br>

</ion-content>
