.resizeImage{
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border: 5px solid white;
}

#centerContent{
    text-align: center;
}

.titleName{
    font-family: 'MontserratAlternatesBold';
    font-size: 25px;
    color: white;
    font-style: italic;
}

.stats{
    font-size: 15px;
    color: grey;
}