<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="centerContent">

<ion-card>
  
  <ion-card-header>
    <img class= "imgResize" src="../assets/images/DCComicsLogo.png">
    <br>
    <br>
    <ion-card-title class="titleName">DC Comics</ion-card-title>
    <ion-card-subtitle class="stats">14 New Comics This Week</ion-card-subtitle>
    <ion-card-subtitle class="stats">9 New Graphic Novels This Week</ion-card-subtitle>
    <br>
    <ion-button expand="block" color="warning">
      <ion-icon slot="end" src="../assets/icon/notifications.svg"></ion-icon>
      Notifications Enabled
    </ion-button>
  </ion-card-header>

</ion-card>

<hr>

<h1 class="typeName">New Comic Books</h1>


<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6487491.jpg?1657194446">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Batman Issue #125</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-7044351.jpg?1657145092">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Dark Crisis Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6443744.jpg?1657147715">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">The Joker Issue #15</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6461026.jpg?1657190425">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">DC vs. Vampires Issue #7</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-7158003.jpg?1657142270">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Flashpoint Beyond Issue #3</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-7739664.jpg?1657143278">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Batman: Killing Time Issue #5</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-4268967.jpg?1657145948">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Batman '89 Issue #6</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-8531109.jpg?1657148006">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>     
      <ion-subtitle class="itemName">Poison Ivy Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-4816470.jpg?1657083080">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Batman Beyond: Neo-Year Issue #4</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-5973900.jpg?1657146214">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Monkey Prince Issue #6</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-5289918.jpg?1657025482">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Suicide Squad: Blaze Issue #3</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-1714405.jpg?1654886451">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Multiversity: Teen Justice Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6252188.jpg?1657146697">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Nubia: Queen of the Amazons Issue #2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-1023656.jpg?1657209824">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Black Adam: The Justice Society Files-Hawkman Issue #1</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>


<hr>

<h1 class="typeName">New Graphic Novels</h1>


<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-4714248.jpg?16570807278">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Batman: Urban Legends Vol.2</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-5329583.jpg?1657080770">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>     
      <ion-subtitle class="itemName">Detective Comics Vol.2: Fear State</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-4643131.jpg?1651071538">
      <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Catwoman Vol.6: Fear State</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6458104.jpg?1648054826">
      <ion-button expand="block" color="light" size="small"> 
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Suicide Squad: Get Joker!</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-5996428.jpg?1656604733">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">DC Poster Portfolio: Jenny Frison</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-1487665.jpg?1657112170">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Birds of Prey: Whitewater</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-5354334.jpg?1651073088">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Justice League Infinity</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-7840963.jpg?1657112178">
      <ion-button expand="block" color="light" size="small">
        <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">Green Lantern Vol.2: Horatius</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <img class="imgResize2" src="https://s3.amazonaws.com/comicgeeks/comics/covers/medium-6641768.jpg?1651073147">
      <ion-button expand="block" color="light" size="small">
          <ion-icon slot="icon-only" src="../assets/icon/heart.svg"></ion-icon>
      </ion-button>
      <ion-subtitle class="itemName">RWBY/Justice League</ion-subtitle>
      <br>
      <ion-subtitle class="issueDate">July 2022</ion-subtitle>
    </ion-col>

    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>

<hr>
<br>

</ion-content>
