<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="centerContent">

  <ion-item>
    <ion-searchbar color="light" id="searchBar"></ion-searchbar>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/filter.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button expand="block" color="medium" routerLink="/tabs/tab2">
    <ion-icon slot="end" src="../assets/icon/add-circle.svg"></ion-icon>
    Add to Collection
  </ion-button>

  <h1 class="typeName">A</h1>
  <hr>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/11/110017/2275022-www.jpg">
        <ion-button expand="block" color="light" size="small" routerLink="/collectionitem1">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">A Vs. X</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
  
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/2083416-01.jpg">
        <ion-button expand="block" color="light" size="small" routerLink="/collectionitem3"> 
          <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Aquaman: New 52</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">DC Comics</ion-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/3/31666/2748468-cover.jpg">
        <ion-button expand="block" color="light" size="small">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Avengers</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
  
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5511323-01.jpg">
        <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Avengers</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/2170075-01a.jpg">
        <ion-button expand="block" color="light" size="small">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Avengers Invaders</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
  
      <ion-col>
        <img class="imgResize2" src="https://comicvine.gamespot.com/a/uploads/scale_small/5/57023/2122929-prv10715_cov.jpg">
        <ion-button expand="block" color="light" size="small"> 
          <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Avengers X-Sanction</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="imgResize2" src="https://i.annihil.us/u/prod/marvel/i/mg/2/d0/4f9accbf89a3e/portrait_uncanny.jpg">
        <ion-button expand="block" color="light" size="small">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
        </ion-button>
        <ion-subtitle class="itemName">Avengers vs. X-Men: VS</ion-subtitle>
        <br>
        <ion-subtitle class="issueDate">Marvel Comics</ion-subtitle>
      </ion-col>
  
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

        
<h1 class="typeName">B</h1>
<hr>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/2033095-01a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman: New 52</h2>
            <p>Author: Scott Snyder</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/3746165-1-cc281b9cdd.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman Eternal: New 52</h2>
            <p>Author: Scott Snyder</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/66303/2154534-batman_and_robin1.jpeg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman and Robin</h2>
            <p>Author: Grant Morrison</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/9116/2009553-1.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman and Robin: New 52</h2>
            <p>Author: Peter Tomasi</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/1/15776/914564-bnb1b.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Blackest Night: Batman</h2>
            <p>Author: Peter Tomasi</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/4600723-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman Beyond</h2>
            <p>Author: Dan Jurgens</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5501748-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman Beyond: Rebirth</h2>
            <p>Author: Dan Jurgens</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/1587481-prev_img.jpeg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman The Dark Knight</h2>
            <p>Author: David Finch</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/9116/2023294-1.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman The Dark Knight: New 52</h2>
            <p>Author: Gregg Hurwitz</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71uL1N79kCL.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman Dark Victory</h2>
            <p>Author: Jeph Loeb</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/9116/1998236-1a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman Dectective Comics: New 52</h2>
            <p>Author: Various Writers</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/62058/1220057-bmrbw_cv1_ds_copy.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">The Return of Bruce Wayne</h2>
            <p>Author: Grant Morrison</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5265989-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman: Rebirth</h2>
            <p>Author: Tom King</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/6080315-01a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Batman/Shadow</h2>
            <p>Author: Brandon Peterson</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/6292153-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">The Brave and the Bold</h2>
            <p>Author: Liam Sharp</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/5/52045/1187420-15302_10150142925500043_848290042_11695567_3985747_n.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Brightest Day</h2>
            <p>Author: Geoff Johns</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

<br>

<h1 class="typeName">C</h1>
<hr>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5500587-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Call of Duty Zombies</h2>
            <p>Author: Justin Jordan</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/2032486-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Captain America</h2>
            <p>Author: Ed Brubaker</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/40/2709867-capa2012001_dc11_lr.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Captain America</h2>
            <p>Author: Rick Remender</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/1/10390/443337-16173_ms_marvel_400.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Captain America: White</h2>
            <p>Author: Jeph Loeb</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/3453875-01a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Cataclysm: The Ultimates</h2>
            <p>Author: Joshua Fialkov</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/3423925-01a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Cataclysm: The Ultimates Last Stand</h2>
            <p>Author: Joshua Fialkov</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/2937260-const_cv1_ds.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Constantine: New 52</h2>
            <p>Author: Ray Fawkes</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/4505526-convergence%20green%20l%2001.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Convergence: Green Lantern and Parallax</h2>
            <p>Author: Tony Bedard</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

<br>      

<h1 class="typeName">D</h1>
<hr>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/4934520-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Daredevil</h2>
            <p>Author: Charles Soule</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/9241/684020-dark_avengers_01_pg01a.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Dark Avengers</h2>
            <p>Author: Brian Michael Bendis</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/5/56044/1843260-deadpool_corps__2010__01b.jpeg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Deadpool Corps</h2>
            <p>Author: Victor Gischler</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5628426-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Deadpool the Duck</h2>
            <p>Author: Stuart Moore</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/3/37908/860524-dpmerc001_dc11_1_1_.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Deadpool: Merc with a Mouth</h2>
            <p>Author: Victor Gischler</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/4572725-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Deadpool's Secret Secret Wars</h2>
            <p>Author: Cullen Bunn</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/65600/1259339-deadpool_wade_wilson_s_war_01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Deadpool: Wade Wilson's War</h2>
            <p>Author: Duane Swierczynski</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/3/31666/2422040-cover.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Dial H: New 52</h2>
            <p>Author: China Mieville</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/6152995-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Doomsday Clock</h2>
            <p>Author: Geoff Johns</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5433922-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Doom Patrol</h2>
            <p>Author: Gerad Way</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

<br>

<h1 class="typeName">E</h1>
<hr>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/2322853-__kgrhqfhjf_e919o_pw5bpokdewetg__60_57_1.jpeg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Earth 2: New 52</h2>
            <p>Author: Daniel H. Wilson</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item class="itemsSearched">
          <ion-thumbnail slot="start">
            <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/5923483-01.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2 class="itemName">Edge of the Venomverse</h2>
            <p>Author: Ryan Key</p>
          </ion-label>
          <ion-button color="light" routerLink="/searched-comic">
            <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
          </ion-button>
        </ion-item>

<br>

  
</ion-content>
