#title{
    text-align:center;
    font-family: 'MontserratAlternatesBold';
    font-size: 25px;
}

#name{
    text-align:center;
    font-family: 'MontserratAlternatesBold';
    font-size: 25px;
}

#avatarPicture{
    height: 250px;
    width: 250px;
    border: 5px solid white;
    margin: auto;
    margin-top: 30px;
}

#centerContent{
    text-align: center;
}

.introText{
    font-size: 1.15em;
    font-weight: 100;
    font-style: italic;
    color: grey;
}

.profileButton{
    width: 350px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

