<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar color="light" id="searchBar"></ion-searchbar>
  <ion-button color="light" expand="full" class="filterButton">Apply Filters</ion-button>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/2033095-01a.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman: New 52</h2>
      <p>Author: Scott Synder</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light" routerLink="/searched-comic">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/66303/2154534-batman_and_robin1.jpeg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman and Robin</h2>
      <p>Author: Grant Morrison</p>
    </ion-label>
    <ion-button color="light" routerLink="/searched-comic-page2">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/91WSMdnifFL.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman Three Jokers</h2>
      <p>Author: Geoff Johns</p>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://images.penguinrandomhouse.com/cover/9781779512697">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman The Long Halloween</h2>
      <p>Author: Jeph Loeb</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71uL1N79kCL.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman Dark Victory</h2>
      <p>Author: Jeph Loeb</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/en/e/ed/Gotham_by_Gaslight.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Gotham by Gaslight</h2>
      <p>Author: Brian Augustyn</p>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="http://prodimage.images-bn.com/pimages/9781401279592_p0_v3_s1200x630.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman White Knight</h2>
      <p>Author: Sean Murphy</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/4600723-01.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman Beyond</h2>
      <p>Author: Dan Jurgens</p>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://comicvine.gamespot.com/a/uploads/scale_small/0/9116/1998236-1a.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman Dectective Comics: New 52</h2>
      <p>Author: Various Writers</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="itemsSearched">
    <ion-thumbnail slot="start">
      <img src="https://comicvine.gamespot.com/a/uploads/scale_small/6/66303/3746165-1-cc281b9cdd.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="itemName">Batman Eternal: New 52</h2>
      <p>Author: Tim Seeley</p>

      <ion-badge id="badgePadding" color="warning">Issues in Collection</ion-badge>
    </ion-label>
    <ion-button color="light">
      <ion-icon slot="icon-only" src="../assets/icon/chevron-forward.svg"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
